{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="favicon/manifest.json">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="{% static 'biogps_ag/myapp.js' %}" type="text/javascript"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script src="//d1ks1friyst4m3.cloudfront.net/toolbar/prod/td.js" async data-trackduck-id="56fa56dd7062faed6f55a507"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css"/>
<div class="container-fluid" data-speed="6" >
    <div class="container">
                <div class="row top-padding">
                <div class="col-sm-12">
                            <div class="col-sm-3">
                                    <a href="index.html"><img src="{% static "images/logo.png" %}" alt="My image"/></a>
                                </div>
                                <div class="col-sm-9 menu-responsive">
                                    <div class="col-sm-12 responsive-div">
                                            <ul class="sing-up-sing-in-ul pull-right">
                                                    <li><a href="#">Sign up</a></li>
                                                        <li> | </li>
                                                        <li><a href="#">Sign in</a></li>
                                                </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-12 responsive-div">
                                       
                              
                                          <div class="navbar-header">
      <button type="button" class="navbar-toggle">
       Menu <span class="icon-bar glyphicon glyphicon-menu-hamburger"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
                                                     <ul class="main-menu">
                                                          <li class="active"><a href="index.html">Home &nbsp; <i class="glyphicon glyphicon-menu-down"></i></a>
                                                          <ul>
                                                              
                                                                <li><a href="account.html">Account</a></li>
                                                               <li><a href="addplugin.html">Addplugin</a></li> 
                                                               <li><a href="help.html">Help</a></li> 
                                                               <li><a href="plugin-2.html">Plugin-2</a></li>
                                                               <li><a href="plugin.html">Plugin</a></li>
                                                               <li><a href="plugin-details.html">Plugin-details</a></li>
                                                               <li><a href="plugin-details-2.html">Plugin-details-2</a></li>
                                                               <li><a href="login.html">Login</a></li>
                                                               <li><a href="BIOGPS-search-results.html">Search Page</a></li>
                                                               </ul>
                                                          </li>
                                                          <li><a href="#">Help</a></li>
                                                          <li>
                                                            <a href="#">About </a>
                                                              
                                                          </li>
                                                         <li><a href="#">Contact</a></li>
                                                         <li><a href="#">Blog</a></li>
                                                        </ul>
                                        </div>
                                </div>
                        </div>
                    </div>
        </div>
</div>
{% block content %}

{% endblock %}